<div class="header">
  <h2>TODO LIST</h2>
</div>
<div class="add-task">
  <h3>Add Task</h3>
  <form action="/" method="post">
    <div class="input">
      <input type="text" placeholder="Enter New Task..." name="title" />
      <input
        type="text"
        placeholder="Enter description..."
        name="description"
      />
    </div>
    <button>Add</button>
  </form>
</div>
<ul class="tasks">
  <% tasks.forEach((task) =>{ %>
  <li>
    <div class="top">
      <button class="finished-btn" data-id="<%= task._id %>"></button>
      <div class="text">
        <h4 class="title <%= task.is_done ? 'completed' : '' %>">
          <%= task.title %>
        </h4>
        <p><%= task.description %></p>
        <small style="font-size: 12px"
          >Created: <%= task.createdAt.toDateString() %></small
        >
      </div>
    </div>
    <div class="btn">
      <!-- Delete -->
      <form action="/<%= task._id %>?_method=DELETE" method="POST">
        <button class="delete button">delete</button>
      </form>

      <!-- Edit -->
      <a class="edit button" href="/edit/<%= task._id %>">edit</a>
    </div>
  </li>
  <%})%>
</ul>
